HRMSUtility/lib/CoRmsDepsNew.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="divisionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="division" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
					<xs:element name="division_id" >
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="9999"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
              <xs:element type="xs:string" name="division_name"/>
              <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
					  		<xs:element name="group_id" >
							 <xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="9999"/>
								</xs:restriction>
							 </xs:simpleType>
							</xs:element>
                    <xs:element type="xs:string" name="group_name"/>
                    <xs:element name="dept" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
									<xs:element name="dept_id" >
									 <xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="1"/>
											<xs:maxInclusive value="9999"/>
										</xs:restriction>
									 </xs:simpleType>
									</xs:element>	
                          <xs:element type="xs:string" name="dept_name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>